.mini-card{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 10px 8px;
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 10px;
}

.img-div{
    width: 50%;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.img-div img{
    height: 40px;
}

.img-div p{
    text-transform: capitalize;
}

.mini-card > div + div{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-left: 10px ;
    align-items: center;
}

.mini-card .mini-icon{
    display: flex;
    align-items: center;
}

