*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.home{
  min-width: 350px;
  min-height: 700px;
  height: 100vh;
  background: url(./img/background.jpg), rgb(0, 0, 0);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 720px){
  .home{
    min-height: 150vh;
    background-size: auto ;
  }
}

@media (max-width: 500px){
  .home{
    min-height: 170vh;
    background-size: auto ;
  }
}
